#content {
}
.sudoku-grid {
    margin:auto;
    width:500px;
    height:400px;
}
.sudoku-grid .box {
    border:1px solid black;
    margin-bottom:30px;
}
.sudoku-grid .box-1,
.sudoku-grid .box-1 .select2-choice {
    background-color:#777777;
    color:white;
}
.sudoku-grid .box-2,
.sudoku-grid .box-2 .select2-choice {
    background-color:#888888;
    color:white;
}
.sudoku-grid .box-3,
.sudoku-grid .box-3 .select2-choice {
    background-color:#999999;
    color:white;
}
.sudoku-grid .box-4,
.sudoku-grid .box-4 .select2-choice {
    background-color:#AAAAAA;
    color:white;
}
.sudoku-grid .box-5,
.sudoku-grid .box-5 .select2-choice {
    background-color:#BBBBBB;
    color:white;
}
.sudoku-grid .box-6,
.sudoku-grid .box-6 .select2-choice {
    background-color:#CCCCCC;
}
.sudoku-grid .box-7,
.sudoku-grid .box-7 .select2-choice {
    background-color:#DDDDDD;
}
.sudoku-grid .box-8,
.sudoku-grid .box-8 .select2-choice {
    background-color:#EEEEEE;
}
.sudoku-grid .box-9,
.sudoku-grid .box-9 .select2-choice {
    background-color:#FFFFFF;
}
.sudoku-grid .possible-values {
    font-size:9px;
    width:40px;
    height:30px;
    float:right;
    line-height:9px;
    border: 1px solid black;
    padding:2px;
    background-color:white;
}
.sudoku-grid .possible-values .possible-value {
    color:black;
}
.sudoku-grid .possible-values .possible-value.disabled {
    color:#AAAAAA;
    text-decoration: line-through;
}
.sudoku-grid .cell {
    border:1px dotted black;
    font-size:20px;
    width:60px;
    height:60px;
}
.sudoku-grid .cell.warning,
.sudoku-grid .cell.warning .select2-choice  {
    background-color:red;
    color:black;
}
.sudoku-grid .cell .input {
    margin-top:3px;
}
.sudoku-grid .clue {
    background-color:yellow;
    color:black;
}
.sudoku-grid .solved {
    background-color:#009933;
    color:white;
    cursor: pointer;
}
.sudoku-grid .input.solved {
    background-color:purple;
}
.sudoku-grid .select2-container .select2-choice .select2-arrow {
    background: none;
    border:none;
}
.sudoku-grid .select2-container .select2-choice {
    background:none;
    border:none;
}
.sudoku-actions {
    margin:auto;
    width:500px;
    text-align:center;
}
.sudoku-log {
    overflow-y: scroll;
    height:100%;
}
.select2-dropdown-open .select2-choice {
    box-shadow: none;
}
/*
.sudoku-grid .cell .input {
    float:left;
    padding-left:0px;
}
.sudoku-grid .cell .input {
    font-size:30px;
    width:50px;
    text-align:center;
}
.select2-drop .select2-search {
    display: none
}
.select2-container .select2-choice {
    background:none;
    border:none;
}
.select2-container .select2-choice .select2-arrow {
    background: none;
}
.sudoku-grid .cell .possible-values {
    font-size:9px;
    float:right;
    width:40px;
    display:inline-block;
    line-height:9px;
    border: 1px solid black;
    padding:2px;
    background-color:white;
}
.sudoku-grid .cell .possible-values .possible-value {

}
.sudoku-grid .cell .possible-values .possible-value.disabled {
    color:#AAAAAA;
    text-decoration: line-through;
}
form {
    margin:auto;
}
select {
    text-align: center;
    font-size:30px;
    margin:auto;
}
input[type=submit] {
    margin-top:20px;
}
table#SudokuGrid  {
    border:1px solid black;
    width:100%;
}
table#SudokuGrid td {
    text-align: center;
    width:50px;
    height:50px;
    border:1px solid black;
}
*/